[x-cloak] {
  display: none !important;
}
*:focus, *:focus-visible{
  /* browser defaults */
}
.container{
  @apply mx-auto px-4;
}
.container-narrow{
  @apply mx-auto px-4;
  @apply sm:max-w-xl md:max-w-3xl lg:max-w-3xl xl:max-w-5xl 2xl:max-w-6xl;
}
.container-wide{
  @apply mx-auto px-4;
  @apply sm:max-w-2xl md:max-w-4xl lg:max-w-6xl xl:max-w-8xl 2xl:max-w-9xl;
}
section{
  @apply relative my-10;
  &[class*="bg-"]{
    @apply my-0 py-10;
  }
}




.skip {
  @apply absolute top-auto w-1 h-1 overflow-hidden -left-96;
  @apply bg-white px-2 py-1;
  @apply focus:w-auto focus:h-auto focus:left-0;
}
